.main_div_of_trending_coin{
    width:"100%";
    padding:5px 5px;
}
.trending_coin{
    padding: 0%;
    margin: 0%;
}
.coins{
    display: flex;
    width: 100%;
}
.left_side_of_coin{
    width: 40%;
    text-align: left;
}
.right_side_of_coin{
    width: 60%;
    text-align: right;
}
.coin_name{
    padding: 0% !important;
    margin: 0% !important;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.market_cap{
    padding: 0%;
    margin: 0%;
    font-size:13px;
    color: rgb(62, 62, 62);
    font-family: 'Times New Roman', Times, serif;
}
.right_side_of_coin .percentage_cap{
    font-size: 18px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}